api-batching-error-handling.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -912,
        -304
      ],
      "id": "58d99148-6ded-4557-a187-d62ff2174e81",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/BROKEN",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -720,
        -368
      ],
      "id": "86b614e2-8d24-4d6e-84ef-a512fb028181",
      "name": "HTTP Request",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -368,
        -352
      ],
      "id": "1cdc10d9-a452-4889-8dc8-b5f3230d5d97",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d696a9cc-dc40-4248-ba19-e379fb623dc2",
              "name": "processed",
              "value": "Done",
              "type": "string"
            },
            {
              "id": "a9af4895-bfa9-4cf2-bfd5-e86b5c74ed64",
              "name": "username ",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -384
      ],
      "id": "642e9f68-9823-4613-b2fc-ad96ada45c15",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "04a2edd8-a22d-428f-b308-521739369db7",
              "leftValue": "={{ $('HTTP Request').item.json.error.message }}",
              "rightValue": true,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        48,
        -384
      ],
      "id": "c4416a47-21c2-48db-8bde-0870d591c2e2",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f703a5d-a81a-4482-b92f-7f697a69a745",
              "name": "Alert",
              "value": "=ERROR : something failed : {{ $('HTTP Request').item.json.error.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        -414.8799999999999
      ],
      "id": "c09dcd1b-fde6-4289-a5ae-a529b27a02c2",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e7dedde-7e3d-475e-a877-3a3a3f083157",
              "name": "alert",
              "value": "Success",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -160
      ],
      "id": "b76dd6aa-36b4-4377-8d1e-a867eda87150",
      "name": "Edit Fields2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c2ae556b-ffdd-472a-b081-04d183a6faed",
  "meta": {
    "instanceId": "f92a9c8db45952cc74ae996eeefb957f97c522ce85569cf715523e96693a4c06"
  },
  "id": "8uRNbnjSVl3Rjto2",
  "tags": []
}
